/* https://fontawesome.com/license */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body,
input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #22252a;
  color: "#8a8d93";
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}